.home {
  position: relative;
  height: 100%;
  padding-top: 28px;
  margin-bottom: 42px;

  &__header {
    position: relative;
    margin: 0 auto 142px;
  }

  &__bg {
    position: absolute;
    top: -30%;
    right: -40%;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__salad {
    position: absolute;
    top: 140px;
    right: 70px;
    width: 50vw;
  }

  &__pieces {
    position: absolute;
    left: -50px;
    bottom: 0;
    z-index: -1;
  }
}
