@font-face {
  font-family: "Khula";
  src: url("/assets/fonts/Khula/Khula-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Khula";
  src: url("/assets/fonts/Khula/Khula-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Khula";
  src: url("/assets/fonts/Khula/Khula-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Khula";
  src: url("/assets/fonts/Khula/Khula-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Khula";
  src: url("/assets/fonts/Khula/Khula-ExtraBold.ttf");
  font-weight: 800;
}
